
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-width: 5px solid black;
    font-family: Roboto;
}



.container {
    height: 100%;
    display: grid;
    grid-template-columns: .9fr 3fr 1fr;
    grid-template-rows: .5fr 2fr;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 25vh;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    margin-left: 5vh;
    align-items: center;
    column-gap: 10vw;
}

.searchbar-left {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.searchbar-left label {
    display: grid;
    background-color: aliceblue;
    width: 45vw;
    height: 4vh;
    border-radius: 10px;
}

.searchbar img {
    height: 4vh;
}

.searchbar-right {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5vw;
    align-items: center;
}

.searchbar-right p {
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
}


.searchbar-bottom-left {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    grid-template-columns: auto 1fr 1fr;
    margin-top: -4vh;
    gap: 1vw;
    align-items: center;
}

.searchbar-bottom-left img {
    height: 10vh;
}

.bottom-left-text {
    font-weight: bold;
}

.searchbar-buttons {
    justify-self: end;
}

button {
    background-color: lightsalmon;
    width: 5vw;
    height: 4vh;
    border-radius: 20px;
    margin-left: 1.25vw;
}

.sidebar {
    display: grid;
    background-color: lightsalmon;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    grid-template-rows: auto auto auto;
    padding-top: 2vh;
    padding-left: 2vw;
}

.logo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    margin-bottom: 5vh;
}

.logo img {
    width: 5vw;
}

.mid-sidebar {
    grid-row: 2 / 3;
}

.pair {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    margin-bottom: 2vh;
    gap: 1vw;
}

.pair img {
    width: 2vw;
} 

.pair li {
    font-weight: bold;
    font-size: larger;
}

.bot-sidebar {
    margin-top: 10vh;
}

.projects {
    /* display: grid; */
    background-color: aliceblue;
    /* grid-column: 2 / 3;
    grid-row: 2 / 4; */
    /* background-color: aliceblue; */
    /* display: grid;
    background-color: aliceblue;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 0.05fr 1fr;
    overflow: auto; */
    /* gap: 1.5vw; */
    padding-left: 1vw;
    padding-right: 10vw;

}

.grid {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10vw;
    row-gap: 2vw;
}

.your-projects {
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.grid-item {
    background-color: white;
    padding: 30px 100px 150px 15px;
    width: 115%;
    border-left: 5px solid orange;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.icons {
    width: 8vw;
    display: grid;
    gap: 20px;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    align-self: end;
    margin-right: -70px;
    margin-bottom: -110px;
}

.right {
    background-color: aliceblue;
}

.announcements {
    grid-row: 1 / 2;
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    border-radius: 12px;
    padding: 0px 50px 25px 50px;
    margin-right: 1vw;

}

.right h3 {
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.right h4 {
    margin-top: 2vh;
}

.right p {
    margin-bottom: 2vh;
}

.update {
    border-bottom: 2px solid black;
}

#plain {
    border-bottom: none;
}

.triple img {
    width: 2vw;
} 

.trending {
    background-color: white;
    grid-row: 2 / 3;
    border-radius: 12px;
    margin-right: 1vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.triple {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    margin-bottom: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    gap: 1vw;
}

/* .grid {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10vw;
    row-gap: 2vw;
} */